src/External/IncomeRegister/docs/Tekninen_rajapinta_Sovelluskehittäjälle 2022101/WSDL/InvalidationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.tulorekisteri.fi/InvalidationService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:srfir="http://www.tulorekisteri.fi/2017/1/StatusResponseFromIR" xmlns:irct="http://www.tulorekisteri.fi/2017/1/IRCommonTypes" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:itirt="http://www.tulorekisteri.fi/2017/1/InvalidationsToIRTypes" xmlns:itir="http://www.tulorekisteri.fi/2017/1/InvalidationsToIR" xmlns:afir="http://www.tulorekisteri.fi/2017/1/AckFromIR" xmlns:smt="http://www.tulorekisteri.fi/2017/1/StatusMessageTypes" name="InvalidationService" targetNamespace="http://www.tulorekisteri.fi/InvalidationService">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.tulorekisteri.fi/2017/1/AckFromIR" schemaLocation="AckFromIR.xsd"/>
		</xs:schema>
		<xs:schema>
			<xs:import namespace="http://www.tulorekisteri.fi/2017/1/InvalidationsToIR" schemaLocation="InvalidationsToIR.xsd"/>
		</xs:schema>
		<xs:schema>
			<xs:import namespace="http://www.tulorekisteri.fi/2017/1/StatusResponseFromIR" schemaLocation="StatusResponseFromIR.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="StatusResponseFromIRMessage">
		<wsdl:part name="out" element="srfir:StatusResponseFromIR"/>
	</wsdl:message>
	<wsdl:message name="InvalidationToIRMessage">
		<wsdl:part name="in" element="itir:InvalidationRequestToIR"/>
	</wsdl:message>
	<wsdl:message name="InvalidationsToIRMessage">
		<wsdl:part name="in" element="itir:InvalidationsRequestToIR"/>
	</wsdl:message>
	<wsdl:message name="AckFromIR">
		<wsdl:part name="out" element="afir:AckFromIR"/>
	</wsdl:message>
	<wsdl:portType name="InvalidationPort">
		<wsdl:operation name="SendInvalidation">
			<wsdl:input message="tns:InvalidationToIRMessage"/>
			<wsdl:output message="tns:StatusResponseFromIRMessage"/>
		</wsdl:operation>
		<wsdl:operation name="SendInvalidations">
			<wsdl:input message="tns:InvalidationsToIRMessage"/>
			<wsdl:output message="tns:AckFromIR"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InvalidationSoap" type="tns:InvalidationPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SendInvalidation">
			<soap:operation soapAction="SendInvalidation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SendInvalidations">
			<soap:operation soapAction="SendInvalidations" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InvalidationService">
		<wsdl:port name="InvalidationService" binding="tns:InvalidationSoap">
			<soap:address location="https://localhost/20170526/InvalidationService.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
