src/External/IncomeRegister/docs/Tekninen_rajapinta_Sovelluskehittäjälle 2022101/WSDL/PayerSummaryReportQueryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.tulorekisteri.fi/PayerSummaryReportQueryService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:irct="http://www.tulorekisteri.fi/2017/1/IRCommonTypes" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mst="http://www.tulorekisteri.fi/2017/1/MainSubscriptionTypes" xmlns:drtir="http://www.tulorekisteri.fi/2017/1/DataRequestToIR" xmlns:smt="http://www.tulorekisteri.fi/2017/1/StatusMessageTypes" xmlns:psrfirt="http://www.tulorekisteri.fi/2017/1/PayerSummaryReportsFromIRTypes" xmlns:psrfir="http://www.tulorekisteri.fi/2017/1/PayerSummaryReportsFromIR" name="PayerSummaryReportQueryService" targetNamespace="http://www.tulorekisteri.fi/PayerSummaryReportQueryService">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.tulorekisteri.fi/2017/1/DataRequestToIR" schemaLocation="DataRequestToIR.xsd"/>
		</xs:schema>
		<xs:schema>
			<xs:import namespace="http://www.tulorekisteri.fi/2017/1/PayerSummaryReportsFromIR" schemaLocation="PayerSummaryReportsFromIR.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PayerSummaryReportsOnePayerMessage">
		<wsdl:part name="in" element="drtir:PayerSummaryReportsOnePayerRequestToIR"/>
	</wsdl:message>
	<wsdl:message name="PayerSummaryReportsOnePolicyNoMessage">
		<wsdl:part name="in" element="drtir:PayerSummaryReportsOnePolicyNoRequestToIR"/>
	</wsdl:message>
	<wsdl:message name="PayerSummaryReportsFromIR">
		<wsdl:part name="out" element="psrfir:PayerSummaryReportsFromIR"/>
	</wsdl:message>
	<wsdl:portType name="PayerSummaryReportQueryPort">
		<wsdl:operation name="GetPayerSummaryReportsOnePayer">
			<wsdl:input message="tns:PayerSummaryReportsOnePayerMessage"/>
			<wsdl:output message="tns:PayerSummaryReportsFromIR"/>
		</wsdl:operation>
		<wsdl:operation name="GetPayerSummaryReportsOnePolicyNo">
			<wsdl:input message="tns:PayerSummaryReportsOnePolicyNoMessage"/>
			<wsdl:output message="tns:PayerSummaryReportsFromIR"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PayerSummaryReportQuerySoap" type="tns:PayerSummaryReportQueryPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetPayerSummaryReportsOnePayer">
			<soap:operation soapAction="GetPayerSummaryReportsOnePayer" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPayerSummaryReportsOnePolicyNo">
			<soap:operation soapAction="GetPayerSummaryReportsOnePolicyNo" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PayerSummaryReportQueryService">
		<wsdl:port name="PayerSummaryReportQueryService" binding="tns:PayerSummaryReportQuerySoap">
			<soap:address location="https://localhost/20170526/PayerSummaryReportQueryService.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
