src/External/IncomeRegister/docs/Tekninen_rajapinta_Sovelluskehittäjälle 2022101/WSDL/SubscriptionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://www.tulorekisteri.fi/SubscriptionService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:srfir="http://www.tulorekisteri.fi/2017/1/StatusResponseFromIR" xmlns:irct="http://www.tulorekisteri.fi/2017/1/IRCommonTypes" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mst="http://www.tulorekisteri.fi/2017/1/MainSubscriptionTypes" xmlns:stir="http://www.tulorekisteri.fi/2017/1/SubscriptionsToIR" xmlns:afir="http://www.tulorekisteri.fi/2017/1/AckFromIR" xmlns:smt="http://www.tulorekisteri.fi/2017/1/StatusMessageTypes" name="SubscriptionService" targetNamespace="http://www.tulorekisteri.fi/SubscriptionService">
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://www.tulorekisteri.fi/2017/1/AckFromIR" schemaLocation="AckFromIR.xsd"/>
		</xs:schema>
		<xs:schema>
			<xs:import namespace="http://www.tulorekisteri.fi/2017/1/StatusResponseFromIR" schemaLocation="StatusResponseFromIR.xsd"/>
		</xs:schema>
		<xs:schema>
			<xs:import namespace="http://www.tulorekisteri.fi/2017/1/SubscriptionsToIR" schemaLocation="SubscriptionsToIR.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="StatusResponseFromIRMessage">
		<wsdl:part name="out" element="srfir:StatusResponseFromIR"/>
	</wsdl:message>
	<wsdl:message name="SubscriptionsToIRAsyncMessage">
		<wsdl:part name="in" element="stir:SubscriptionsRequestToIRAsync"/>
	</wsdl:message>
	<wsdl:message name="SubscriptionsToIRMessage">
		<wsdl:part name="in" element="stir:SubscriptionsRequestToIR"/>
	</wsdl:message>
	<wsdl:message name="AckFromIR">
		<wsdl:part name="out" element="afir:AckFromIR"/>
	</wsdl:message>
	<wsdl:portType name="SubscriptionPort">
		<wsdl:operation name="ProcessSubscription">
			<wsdl:input message="tns:SubscriptionsToIRMessage"/>
			<wsdl:output message="tns:StatusResponseFromIRMessage"/>
		</wsdl:operation>
		<wsdl:operation name="SendSubscription">
			<wsdl:input message="tns:SubscriptionsToIRAsyncMessage"/>
			<wsdl:output message="tns:AckFromIR"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SubscriptionSoap" type="tns:SubscriptionPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ProcessSubscription">
			<soap:operation soapAction="ProcessSubscription" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SendSubscription">
			<soap:operation soapAction="SendSubscription" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SubscriptionService">
		<wsdl:port name="SubscriptionService" binding="tns:SubscriptionSoap">
			<soap:address location="https://localhost/20170526/SubscriptionService.svc"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
