src/External/IncomeRegister/docs/Tekninen_rajapinta_Sovelluskehittäjälle 2022101/XSD/WageReportsFromIRTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wrfirt="http://www.tulorekisteri.fi/2017/1/WageReportsFromIRTypes" xmlns:smt="http://www.tulorekisteri.fi/2017/1/StatusMessageTypes" xmlns:irct="http://www.tulorekisteri.fi/2017/1/IRCommonTypes" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" targetNamespace="http://www.tulorekisteri.fi/2017/1/WageReportsFromIRTypes">
	<xs:import namespace="http://www.tulorekisteri.fi/2017/1/IRCommonTypes" schemaLocation="IRCommonTypes.xsd"/>
	<xs:import namespace="http://www.tulorekisteri.fi/2017/1/StatusMessageTypes" schemaLocation="StatusMessageTypes.xsd"/>
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/>
	<xs:simpleType name="AllowanceCode">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="BenefitCode">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="ExceptionCode">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="FormCode">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="IncomeEarnerType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="PaymentType">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="RemunerationCode">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="WorkMunicipality">
		<xs:restriction base="irct:String200">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Absence">
		<xs:sequence>
			<xs:element name="AbsenceRepStartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AbsenceRepEndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UnpaidAbsence" type="wrfirt:UnpaidAbsence" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaidAbsence" type="wrfirt:PaidAbsence" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AccidentInsurance">
		<xs:sequence>
			<xs:element name="AccInsProvId" type="wrfirt:Id" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AccInsPolicyNo" type="irct:String20" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="Co" type="irct:String70" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Street" type="irct:String100" minOccurs="0" maxOccurs="1"/>
			<xs:element name="POBox" type="irct:String10" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostalCode" type="irct:String20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostOffice" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Addresses">
		<xs:sequence>
			<xs:element name="TypedAddress" type="wrfirt:TypedAddress" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CarBenefit">
		<xs:sequence>
			<xs:element name="CarBenefitCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AgeGroupCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Kilometers" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmissionsValue" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactPerson">
		<xs:sequence>
			<xs:element name="Name" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Telephone" type="irct:String40" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Email" type="irct:String70" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ResponsibilityCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactPersons">
		<xs:sequence>
			<xs:element name="ContactPerson" type="wrfirt:ContactPerson" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DailyAllowance">
		<xs:sequence>
			<xs:element name="AllowanceCode" type="wrfirt:AllowanceCode" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryData">
		<xs:sequence>
			<xs:element name="Timestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Source" type="irct:String30" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DeliveryId" type="irct:String40" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IRDeliveryId" type="irct:Guid" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DeliveryToIRChannelCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaymentPeriod" type="wrfirt:PaymentPeriod" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ContactPersons" type="wrfirt:ContactPersons" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Payer" type="wrfirt:Payer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DeliveryDataOwner" type="wrfirt:Id" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DeliveryDataCreator" type="wrfirt:Id" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DeliveryDataSender" type="wrfirt:Id" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EarningPeriod">
		<xs:sequence>
			<xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EarningPeriods">
		<xs:sequence>
			<xs:element name="EarningPeriod" type="wrfirt:EarningPeriod" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmployeeMax183d">
		<xs:sequence>
			<xs:element name="CountryCode" type="irct:String2" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Employment">
		<xs:sequence>
			<xs:element name="Employed" type="irct:trueOrFalse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmploymentCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TermCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartTime" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HoursPerWeek" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaymentTypes" type="wrfirt:PaymentTypes" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmploymentPeriods" type="wrfirt:EmploymentPeriods" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmploymentEndings" type="wrfirt:EmploymentEndings" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmploymentEnding">
		<xs:sequence>
			<xs:element name="Type" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Code" type="irct:String20" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmploymentEndings">
		<xs:sequence>
			<xs:element name="EmploymentEnding" type="wrfirt:EmploymentEnding" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmploymentPeriods">
		<xs:sequence>
			<xs:element name="Period" type="wrfirt:Period" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmploymentReg">
		<xs:sequence>
			<xs:element name="Type" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Code" type="irct:String20" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmploymentRegs">
		<xs:sequence>
			<xs:element name="EmploymentReg" type="wrfirt:EmploymentReg" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinServiceRecipient">
		<xs:sequence>
			<xs:element name="FinServiceRecipientIds" type="wrfirt:FinServiceRecipientIds" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinServiceRecipientIds">
		<xs:sequence>
			<xs:element name="Id" type="wrfirt:Id" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForeignLeasedWork">
		<xs:sequence>
			<xs:element name="Representative" type="wrfirt:Representative" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EstAmount" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FinServiceRecipient" type="wrfirt:FinServiceRecipient" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Id">
		<xs:sequence>
			<xs:element name="Type" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Code" type="irct:String30" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncomeEarner">
		<xs:sequence>
			<xs:element name="IncomeEarnerIds" type="wrfirt:IncomeEarnerIds" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IncomeEarnerBasic" type="wrfirt:IncomeEarnerBasic" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Addresses" type="wrfirt:Addresses" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubOrgs" type="wrfirt:SubOrgs" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Employment" type="wrfirt:Employment" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Professions" type="wrfirt:Professions" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmploymentRegs" type="wrfirt:EmploymentRegs" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PlaceOfBusiness" type="wrfirt:PlaceOfBusiness" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PensionInsurance" type="wrfirt:PensionInsurance" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AccidentInsurance" type="wrfirt:AccidentInsurance" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InsuranceExceptions" type="wrfirt:InsuranceExceptions" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InternationalData" type="wrfirt:InternationalData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IncomeEarnerOther" type="wrfirt:IncomeEarnerOther" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncomeEarnerBasic">
		<xs:sequence>
			<xs:element name="MissingId" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CompanyName" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LastName" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FirstName" type="irct:String100" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BirthDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Gender" type="xs:int" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncomeEarnerIds">
		<xs:sequence>
			<xs:element name="Id" type="wrfirt:Id" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncomeEarnerOther">
		<xs:sequence>
			<xs:element name="SensitiveInfoIncluded" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CBACode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IncomeEarnerTypes" type="wrfirt:IncomeEarnerTypes" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Payments" type="wrfirt:Payments" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncomeEarnerTypes">
		<xs:sequence>
			<xs:element name="IncomeEarnerType" type="wrfirt:IncomeEarnerType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceData">
		<xs:sequence>
			<xs:element name="TransactionInclusion" type="wrfirt:TransactionInclusion" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceExceptions">
		<xs:sequence>
			<xs:element name="ExceptionCode" type="wrfirt:ExceptionCode" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InternationalData">
		<xs:sequence>
			<xs:element name="PostedCertCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NonResident" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NonResidentCountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NonResidentCountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubToWithhold" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxTreatyCountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WorkForm" type="wrfirt:WorkForm" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KmAllowance">
		<xs:sequence>
			<xs:element name="Kilometers" type="xs:int" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MealBenefit">
		<xs:sequence>
			<xs:element name="TaxValue" type="irct:true" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NT1Address">
		<xs:sequence>
			<xs:element name="Co" type="irct:String70" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
			<xs:element name="POBox" type="irct:String10" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostalCode" type="irct:String20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostOffice" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Street" type="irct:String100" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrigPaymentPeriod">
		<xs:sequence>
			<xs:element name="PaymentDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrigPaymentPeriods">
		<xs:sequence>
			<xs:element name="OrigPaymentPeriod" type="wrfirt:OrigPaymentPeriod" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherBenefit">
		<xs:sequence>
			<xs:element name="BenefitCode" type="wrfirt:BenefitCode" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaidAbsence">
		<xs:sequence>
			<xs:element name="PaidAbsencePeriods" type="wrfirt:PaidAbsencePeriods" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaidAbsencePeriod">
		<xs:sequence>
			<xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AbsenceDays" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AbsenceUntil" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CauseCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amount" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReimbApp" type="wrfirt:ReimbApp" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaidAbsencePeriodInfo" type="irct:String850" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaidAbsencePeriods">
		<xs:sequence>
			<xs:element name="PaidAbsencePeriod" type="wrfirt:PaidAbsencePeriod" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Payer">
		<xs:sequence>
			<xs:element name="PayerIds" type="wrfirt:PayerIds" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PayerBasic" type="wrfirt:PayerBasic" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Address" type="wrfirt:Address" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubOrgs" type="wrfirt:SubOrgs" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PayerOther" type="wrfirt:PayerOther" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubstitutePayer" type="wrfirt:SubstitutePayer" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayerBasic">
		<xs:sequence>
			<xs:element name="MissingId" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CompanyName" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LastName" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FirstName" type="irct:String100" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BirthDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Language" type="xs:int" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayerIds">
		<xs:sequence>
			<xs:element name="Id" type="wrfirt:Id" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayerOther">
		<xs:sequence>
			<xs:element name="SensitiveInfoIncluded" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PayerTypes" type="wrfirt:PayerTypes" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayerTypes">
		<xs:sequence>
			<xs:element name="Code" type="xs:int" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Payment">
		<xs:sequence>
			<xs:element name="PaymentType" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaymentRef" type="irct:String50" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaymentSpecifier" type="irct:String200" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentPeriod">
		<xs:sequence>
			<xs:element name="PaymentDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StartDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Payments">
		<xs:sequence>
			<xs:element name="Payment" type="wrfirt:Payment" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentTypes">
		<xs:sequence>
			<xs:element name="PaymentType" type="wrfirt:PaymentType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PensionInsurance">
		<xs:sequence>
			<xs:element name="PensionActCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PensionProvIdCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PensionPolicyNo" type="irct:PensionPolicyNo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Period">
		<xs:sequence>
			<xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceOfBusiness">
		<xs:sequence>
			<xs:element name="Code" type="irct:String20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Street" type="irct:String100" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostalCode" type="irct:String20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostOffice" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Profession">
		<xs:sequence>
			<xs:element name="Type" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Code" type="irct:String20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Title" type="irct:String200" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Professions">
		<xs:sequence>
			<xs:element name="Profession" type="wrfirt:Profession" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Query">
		<xs:sequence>
			<xs:element name="IRQueryId" type="irct:Guid" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QueryTimestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QueryTimespanStart" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QueryTimespanEnd" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecoveryData">
		<xs:sequence>
			<xs:element name="RecoveryDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Withhold" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxAtSource" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrigPaymentPeriods" type="wrfirt:OrigPaymentPeriods" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReimbApp">
		<xs:sequence>
			<xs:element name="ReimbPayment" type="wrfirt:ReimbPayment" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReimbPayment">
		<xs:sequence>
			<xs:element name="PaymentType" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaymentRef" type="irct:String50" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PaymentSpecifier" type="irct:String200" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Remunerations">
		<xs:sequence>
			<xs:element name="RemunerationCode" type="wrfirt:RemunerationCode" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Report">
		<xs:sequence>
			<xs:element name="DeliveryData" type="wrfirt:DeliveryData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportData" type="wrfirt:ReportData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="IncomeEarner" type="wrfirt:IncomeEarner" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Transactions" type="wrfirt:Transactions" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ForeignLeasedWork" type="wrfirt:ForeignLeasedWork" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StayPeriodsInFinland" type="wrfirt:StayPeriodsInFinland" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WorkPeriodsInFinland" type="wrfirt:WorkPeriodsInFinland" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WorkCountries" type="wrfirt:WorkCountries" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Absence" type="wrfirt:Absence" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportData">
		<xs:sequence>
			<xs:element name="IRReportId" type="irct:Guid" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportId" type="irct:String40" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ReportStatus" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReportVersion" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ReceivedTimestamp" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CreatedTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VersionReceivedTimestamp" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Reports">
		<xs:sequence>
			<xs:element name="Report" type="wrfirt:Report" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Representative">
		<xs:sequence>
			<xs:element name="SensitiveInfoIncluded" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RepresentativeIds" type="wrfirt:RepresentativeIds" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Name" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Address" type="wrfirt:Address" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RepresentativeReports" type="irct:true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RepresentativeIds">
		<xs:sequence>
			<xs:element name="Id" type="wrfirt:Id" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SailorIncome">
		<xs:sequence>
			<xs:element name="SailorIncome" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CrossTradeTime" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WithdrawalPeriod" type="wrfirt:WithdrawalPeriod" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceRecipient">
		<xs:sequence>
			<xs:element name="SensitiveInfoIncluded" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ServiceRecipientIds" type="wrfirt:ServiceRecipientIds" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Name" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ServiceRecipientAddress" type="wrfirt:ServiceRecipientAddress" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceRecipientAddress">
		<xs:sequence>
			<xs:element name="Co" type="irct:String70" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Street" type="irct:String100" minOccurs="0" maxOccurs="1"/>
			<xs:element name="POBox" type="irct:String10" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostalCode" type="irct:String20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostOffice" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServiceRecipientIds">
		<xs:sequence>
			<xs:element name="Id" type="wrfirt:Id" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SixMonthRule">
		<xs:sequence>
			<xs:element name="Applicable" type="irct:trueOrFalse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StayPeriod">
		<xs:sequence>
			<xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StayPeriodsAbroad">
		<xs:sequence>
			<xs:element name="Period" type="wrfirt:StayPeriod" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StayPeriodsInFinland">
		<xs:sequence>
			<xs:element name="NoStayPeriods" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Period" type="wrfirt:StayPeriod" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubOrg">
		<xs:sequence>
			<xs:element name="Type" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Code" type="irct:String20" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubOrgs">
		<xs:sequence>
			<xs:element name="SubOrg" type="wrfirt:SubOrg" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Subscription">
		<xs:sequence>
			<xs:element name="QueryDataType" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="QueryProfile" type="irct:String40" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ProductionEnvironment" type="irct:trueOrFalse" minOccurs="1" maxOccurs="1"/>
			<xs:element name="IRMainSubscriptionId" type="irct:Guid" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IRSubscriptionId" type="irct:Guid" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MainSubscriptionId" type="irct:String40" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SubscriptionId" type="irct:String40" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubstitutePayer">
		<xs:sequence>
			<xs:element name="Acts" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmployerId" type="wrfirt:Id" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EmployerName" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WageSec" type="irct:true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Summary">
		<xs:sequence>
			<xs:element name="NrOfReports" type="xs:int" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Transaction">
		<xs:sequence>
			<xs:element name="TransactionBasic" type="wrfirt:TransactionBasic" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InsuranceData" type="wrfirt:InsuranceData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EarningPeriods" type="wrfirt:EarningPeriods" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UnitWages" type="wrfirt:UnitWages" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CarBenefit" type="wrfirt:CarBenefit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MealBenefit" type="wrfirt:MealBenefit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OtherBenefit" type="wrfirt:OtherBenefit" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SailorIncome" type="wrfirt:SailorIncome" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RecoveryData" type="wrfirt:RecoveryData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DailyAllowance" type="wrfirt:DailyAllowance" minOccurs="0" maxOccurs="1"/>
			<xs:element name="KmAllowance" type="wrfirt:KmAllowance" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SixMonthRule" type="wrfirt:SixMonthRule" minOccurs="0" maxOccurs="1"/>
			<!--	<xs:element name="EmployeeMax183d" type="wrfirt:EmployeeMax183d" minOccurs="0" maxOccurs="1"/> -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionBasic">
		<xs:sequence>
			<xs:element name="TransactionCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amount" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NoMoney" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OneOff" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UnjustEnrichment" type="irct:true" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Recovery" type="irct:true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionInclusion">
		<xs:sequence>
			<xs:element name="InsuranceCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Included" type="irct:trueOrFalse" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Transactions">
		<xs:sequence>
			<xs:element name="Transaction" type="wrfirt:Transaction" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TypedAddress">
		<xs:sequence>
			<xs:element name="AddressType" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Co" type="irct:String70" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Street" type="irct:String100" minOccurs="0" maxOccurs="1"/>
			<xs:element name="POBox" type="irct:String10" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostalCode" type="irct:String20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostOffice" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnitWage">
		<xs:sequence>
			<xs:element name="UnitPrice" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UnitAmount" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="UnitCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnitWages">
		<xs:sequence>
			<xs:element name="UnitWage" type="wrfirt:UnitWage" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnpaidAbsence">
		<xs:sequence>
			<xs:element name="UnpaidAbsencePeriods" type="wrfirt:UnpaidAbsencePeriods" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnpaidAbsencePeriod">
		<xs:sequence>
			<xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AbsenceDays" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CauseCode" type="xs:int" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UnpaidAbsencePeriods">
		<xs:sequence>
			<xs:element name="UnpaidAbsencePeriod" type="wrfirt:UnpaidAbsencePeriod" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WageReportsFromIR">
		<xs:sequence>
			<xs:element name="Subscription" type="wrfirt:Subscription" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Query" type="wrfirt:Query" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Summary" type="wrfirt:Summary" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MessageErrors" type="smt:MessageErrors" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DeliveryErrors" type="smt:DeliveryErrors" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Reports" type="wrfirt:Reports" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="ds:Signature" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WithdrawalPeriod">
		<xs:sequence>
			<xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCountries">
		<xs:sequence>
			<xs:element name="WorkCountry" type="wrfirt:WorkCountry" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCountry">
		<xs:sequence>
			<xs:element name="WorkCountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WorkCountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WorkMunicipalities" type="wrfirt:WorkMunicipalities" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WorkCountryAddress" type="wrfirt:WorkCountryAddress" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ServiceRecipient" type="wrfirt:ServiceRecipient" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StayPeriodsAbroad" type="wrfirt:StayPeriodsAbroad" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WorkPeriodsAbroad" type="wrfirt:WorkPeriodsAbroad" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxingRight" type="irct:trueOrFalse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BurdensResultOfPE" type="irct:trueOrFalse" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WagePerMonth" type="irct:decimal2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Remunerations" type="wrfirt:Remunerations" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkCountryAddress">
		<xs:sequence>
			<xs:element name="Co" type="irct:String70" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Street" type="irct:String100" minOccurs="0" maxOccurs="1"/>
			<xs:element name="POBox" type="irct:String10" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostalCode" type="irct:String20" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostOffice" type="irct:String200" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryCode" type="irct:String2" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryName" type="irct:String70" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkForm">
		<xs:sequence>
			<xs:element name="FormCode" type="wrfirt:FormCode" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkMunicipalities">
		<xs:sequence>
			<xs:element name="WorkMunicipality" type="wrfirt:WorkMunicipality" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkPeriodInFinland">
		<xs:sequence>
			<xs:element name="StartDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndDate" type="xs:date" minOccurs="0" maxOccurs="1"/>
			<xs:element name="WorkDays" type="xs:int" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkPeriodsAbroad">
		<xs:sequence>
			<xs:element name="Period" type="wrfirt:Period" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WorkPeriodsInFinland">
		<xs:sequence>
			<xs:element name="WorkPeriodInFinland" type="wrfirt:WorkPeriodInFinland" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
